In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import numpy as np ;
from keras.utils import np_utils
from keras.layers import Dense,Conv2D,MaxPooling2D,Flatten,Reshape,Dropout
from keras.preprocessing.image import ImageDataGenerator 
from keras.applications.vgg16 import VGG16
from keras.models import Model
import itertools 
import cv2
import pandas as pd ;
import matplotlib.pyplot as plt ;
import tensorflow as tf
from tensorflow.keras.applications import VGG16 , ResNet50 , Xception , InceptionV3
from tensorflow.keras.layers import Flatten
import pandas as pd
import os

# Other CNN FEATURE EXTRACTION

In [ ]:


# Uncomment this if want to use

#model1 = VGG16(weights='imagenet', include_top=False)

#model2 = ResNet50(weights='imagenet', include_top=False );

#model3 = Xception(weights='imagenet', include_top=False );

model4 = InceptionV3(weights='imagenet', include_top=False );

# Add a flatten layer on top of VGG16
flatten_layer = Flatten()
model4 = tf.keras.Sequential([model4, flatten_layer])

# Load the dataset and extract features
dataset = tf.keras.preprocessing.image_dataset_from_directory(
    #"../Covid19-dataset/test/",
    "/content/drive/MyDrive/train"
    ,batch_size=500,
    image_size=(224, 224),
    shuffle=False,
    color_mode="rgb")

features = []
labels = []
for batch, label in dataset:
    batch_features = model4.predict(batch)
    features.append(batch_features)
    labels.append(label.numpy())
    #print(label)

files0=dataset.file_paths
files=[]
for file in files0:
     files.append(os.path.basename(file))
    
  

# Combine features and labels into a feature-label dataset
features = tf.concat(features, axis=0)
labels = tf.concat(labels, axis=0)
print("Features Shape:", features.shape)
print("Labels Shape:", labels.shape)

files= pd.DataFrame(files)
labels= pd.DataFrame(labels)
features = pd.DataFrame(features)
#labels=labels.insert(loc = len(labels.columns),column='1',value = files)

features = pd.concat([labels, files, features], axis=1)
features = features[:].values
features=pd.DataFrame(features)

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/inception_v3/inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5
87910968/87910968 [==============================] - 3s 0us/step
Found 384 files belonging to 2 classes.
12/12 [==============================] - 4s 54ms/step
Features Shape: (384, 51200)
Labels Shape: (384,)

In [ ]:
features

,0,1,2,3,4,5,6,7,8,9,...,51192,51193,51194,51195,51196,51197,51198,51199,51200,51201
0,0,021aug1.bmp,0.0,0.0,0.0,17.682007,16.030294,0.0,32.785278,34.955849,...,57.227589,0.0,13.008873,0.0,60.766243,0.0,0.0,0.0,0.0,0.0
1,0,021aug2.bmp,0.0,9.120188,0.0,35.176334,0.0,2.535757,40.231358,39.784996,...,55.102489,0.0,3.299589,0.0,7.606672,0.0,12.378778,0.0,0.0,29.493572
2,0,021aug3.bmp,0.0,0.0,0.0,0.0,20.211481,0.0,0.0,11.552873,...,5.001036,0.0,0.0,0.0,39.129826,0.0,0.0,0.0,0.0,0.0
3,0,022aug2.bmp,0.0,3.18952,0.0,31.73139,0.0,17.18437,40.031578,41.260105,...,77.254616,0.0,0.0,0.0,24.568949,0.0,52.900356,0.0,0.0,30.861584
4,0,022aug3.bmp,0.0,0.0,0.0,6.088952,22.149429,0.0,0.0,17.969427,...,9.941729,0.0,0.0,0.0,39.429764,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,1,019aug1.bmp,0.0,0.0,0.0,0.0,28.385202,0.0,0.463453,30.069345,...,5.244761,0.0,0.0,18.526789,68.556351,16.722393,0.0,0.0,0.0,0.0
380,1,019aug2.bmp,0.0,0.0,0.0,5.902587,6.514037,0.0,9.817458,31.49218,...,41.15086,0.0,0.0,2.663199,18.556103,0.0,0.0,0.0,0.0,0.0
381,1,020aug1.bmp,0.0,0.0,0.0,0.0,32.366978,0.0,0.0,28.41338,...,7.523764,0.0,0.0,13.039741,63.01292,16.563599,0.0,0.0,0.0,1.185522
382,1,020aug2.bmp,0.0,0.0,0.0,5.498646,19.613117,0.0,10.51587,25.603579,...,0.0,0.0,27.77903,33.3521,21.780457,0.0,0.0,0.0,0.0,0.0
383,1,020aug3.bmp,0.0,0.0,0.0,0.0,15.149209,0.0,0.0,5.764783,...,0.0,0.0,0.0,28.955435,13.160928,5.117502,7.501321,0.0,0.0,0.0

# Combining All Features

In [ ]:
traincombined1 = pd.read_csv("/content/drive/MyDrive/vgg.csv")
trainvgg16 = pd.read_csv("/content/drive/MyDrive/STAAR_PROJECT/densenet201.csv")

In [ ]:
traincombined2.drop(index=traincombined2.index[0], 
        axis=0, 
        inplace=True)

In [ ]:
df=traincombined2

In [ ]:
trainxecption

,0,1,2,3,4,5,6,7,8,9,...,100344,100345,100346,100347,100348,100349,100350,100351,100352,100353
0,0,1,2.0,3.000000,4.0,5.0,6.0,7.0,8.000000,9.0,...,100344.0,100345.0,100346.0,100347.0,100348.0,100349.0,100350.0,100351.0,100352.0,100353.0
1,0,021aug1.bmp,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,021aug2.bmp,0.0,2.849242,0.0,0.0,0.0,0.0,1.637874,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,021aug3.bmp,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,022aug2.bmp,0.0,0.000000,0.0,0.0,0.0,0.0,1.791373,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,1,019aug1.bmp,0.0,0.000000,0.0,0.0,0.0,0.0,2.384850,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381,1,019aug2.bmp,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382,1,020aug1.bmp,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
383,1,020aug2.bmp,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
384,1,020aug3.bmp,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df = traincombined2.merge(trainxecption, on = trainxecption.iloc[:,1], how = 'left')

In [ ]:
df

,key_0,0_x,1_x,2_x,3_x,4_x,5_x,6_x,7_x,8_x,...,100344_y,100345_y,100346_y,100347_y,100348_y,100349_y,100350_y,100351_y,100352_y,100353_y
0,1,0,1,2.0,3.000000,4.0,5.000000,6.000000,7.000000,8.000000,...,100344.0,100345.0,100346.0,100347.0,100348.0,100349.0,100350.0,100351.0,100352.0,100353.0
1,021aug1.bmp,0,021aug1.bmp,0.0,0.000000,0.0,17.682007,16.030294,0.000000,32.785278,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,021aug2.bmp,0,021aug2.bmp,0.0,9.120188,0.0,35.176334,0.000000,2.535757,40.231358,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,021aug3.bmp,0,021aug3.bmp,0.0,0.000000,0.0,0.000000,20.211481,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,022aug2.bmp,0,022aug2.bmp,0.0,3.189520,0.0,31.731390,0.000000,17.184370,40.031578,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,019aug1.bmp,1,019aug1.bmp,0.0,0.000000,0.0,0.000000,28.385202,0.000000,0.463453,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381,019aug2.bmp,1,019aug2.bmp,0.0,0.000000,0.0,5.902587,6.514037,0.000000,9.817458,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382,020aug1.bmp,1,020aug1.bmp,0.0,0.000000,0.0,0.000000,32.366978,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
383,020aug2.bmp,1,020aug2.bmp,0.0,0.000000,0.0,5.498646,19.613117,0.000000,10.515870,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
384,020aug3.bmp,1,020aug3.bmp,0.0,0.000000,0.0,0.000000,15.149209,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.iloc[:,[1,25089]]

           key_0  0_x  0_y          1_y
0              1    0    0            1
1    021aug1.bmp    0    0  021aug1.bmp
2    021aug2.bmp    0    0  021aug2.bmp
3    021aug3.bmp    0    0  021aug3.bmp
4    022aug2.bmp    0    0  022aug2.bmp
..           ...  ...  ...          ...
380  019aug1.bmp    1    1  019aug1.bmp
381  019aug2.bmp    1    1  019aug2.bmp
382  020aug1.bmp    1    1  020aug1.bmp
383  020aug2.bmp    1    1  020aug2.bmp
384  020aug3.bmp    1    1  020aug3.bmp

[385 rows x 4 columns]

In [ ]:

df =df.drop(df.columns[[0,25089]],
                       axis = 1)
df = df[:].values
df=pd.DataFrame(df)

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,276984,276985,276986,276987,276988,276989,276990,276991,276992,276993
1,0,021aug1.bmp,0.0,0.000000,0.0,17.682007,16.030294,0.000000,32.785278,34.955849,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,021aug2.bmp,0.0,9.120188,0.0,35.176334,0.000000,2.535757,40.231358,39.784996,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,021aug3.bmp,0.0,0.000000,0.0,0.000000,20.211481,0.000000,0.000000,11.552873,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,022aug2.bmp,0.0,3.189520,0.0,31.731390,0.000000,17.184370,40.031578,41.260105,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0,022aug3.bmp,0.0,0.000000,0.0,6.088952,22.149429,0.000000,0.000000,17.969427,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,1,019aug1.bmp,0.0,0.000000,0.0,0.000000,28.385202,0.000000,0.463453,30.069345,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381,1,019aug2.bmp,0.0,0.000000,0.0,5.902587,6.514037,0.000000,9.817458,31.492180,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382,1,020aug1.bmp,0.0,0.000000,0.0,0.000000,32.366978,0.000000,0.000000,28.413380,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
383,1,020aug2.bmp,0.0,0.000000,0.0,5.498646,19.613117,0.000000,10.515870,25.603579,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
384,1,020aug3.bmp,0.0,0.000000,0.0,0.000000,15.149209,0.000000,0.000000,5.764783,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.to_csv("/content/drive/MyDrive/merge.csv", index= False)

In [ ]:
df.drop(index=df.index[0], 
        axis=0, 
        inplace=True)